.filterHeader{
    background-color: #2d2d2d;
    color: white;
    height: 50px;
}
.cardHeader:hover{
    text-decoration: underline;
    cursor: pointer;
}

.yearSlider{
    margin: auto;
    padding: 20px 0px;
    width: 80%;
    height: 100px;
    text-align: center;
}
.yearSliderValues{
    margin-top: 20px;
}