.tableContainer {
    margin-bottom: 15px;
}

#table {
    background-color: #FDFFFC;
    cursor:pointer;
    border-radius: 15px !important;
    border-width: 5px !important;
    border-color: #FDFFFC;
    min-width: 300px;
    font-size: 12px;
}

.tableHeader {
    cursor: auto;
    font-size: 13px;
}

@media (min-width: 576px) {
    .tableHeader {
        font-size: 18px;
    }
    #table {
        font-size: 16px;
    }
}

.expandedRow {
    cursor: auto;
    background-color: white;
}

.parentExpandedRow {
    background-color: #EEE5E9;
    border-top: 2px solid #CF5C36;
    border-bottom: 2px solid #CF5C36;
    border-radius: 5em;
}