.filterContainer {
    margin-bottom: 15px;
}

.filterHeader {
    background-color: #2d2d2d;
    color: white;
    height: 50px;
}

.cardHeader:hover {
    text-decoration: underline;
    cursor: pointer;
}

.slider {
    margin: auto;
    padding: 20px 0px;
    width: 80%;
    height: 100px;
    text-align: center;
}

.sliderValues {
    margin-top: 20px;
}

.resetButton {
    float: right;
    height: 45px;
    width: 130px;
    padding-top: 13px;
    margin-top: -10px;
    margin-right: -10px;
    font-size: 12px;
    white-space: nowrap;
}

.resetButton:hover {
    cursor: pointer;
}

.resetText:hover {
    text-decoration: underline;
}

.cancelIcon {
    margin-right: 5px;
    margin-top: -2px;
    width: 10px;
    fill: white;
}

.nobr {
    white-space: nowrap
}

.buttonStyle {
    margin: 5px;
}

.buttonStyle:focus {
    background: #D6D6D6;
    margin: 5px;
    color: black;
}

/* These are predefined for noUiSlider, so classNames are already given */

.noUi-tooltip {
    display: none;
}

.noUi-active .noUi-tooltip {
    display: block;
}